/* CUSTOM PROPS */
:root {
  --color-primary: #4d96a9;
  --color-primary-light: #71c0d4;
  --color-primary-lightest: #8fe3f9;
  --color-secondary: #855fb1;
  --color-secondary-light: #b18bdd;
  --color-secondary-lightest: #d9b8ff;
  --color-text-dark: #28283d;
  --color-text-light: #87879d;
  --color-bg-body: #fafafa;

  --container-padding: 24px;
}


/* GLOBAL */
body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-family: "Red Hat Display", "Arial", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 162.5%;
  background-color: var(--color-bg-body);
  color: var(--color-text-light);
}

img {
  height: auto;
}


/* AUTOFILL-STYLES */
/*input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}*/


/* PLACEHOLDER-STYLES */
/*::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: rgba(52, 49, 61, 0.5);
  opacity: 1;
}*/


/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* CONTAINER */
.container {
  width: 100%;
  max-width: 1148px;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  margin-left: auto;
  margin-right: auto;
}


/* BUTTON */
.button {
  display: inline-block;
  padding: 16px 40px;
  border-radius: 29px;
  font-size: 1rem;
  font-weight: 900;
  line-height: 162.5%;
  color: #fff;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
}

.button:active {
  opacity: 0.6;
}

.button--primary {
  background-color: var(--color-primary);
}

.button--primary:hover {
  background-color: var(--color-primary-light);
}

.button--secondary {
  background-color: var(--color-secondary);
}

.button--secondary:hover {
  background-color: var(--color-secondary-light);
}

.button--primary .button__highlight {
  color: var(--color-primary-lightest);
}

.button--secondary .button__highlight {
  color: var(--color-secondary-lightest);
}


/* LOGO */
.logo {
  display: block;
  text-decoration: none;
}

.logo:hover {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.6;
}

/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
}


/* HEADER */
.header {
  padding-top: 48px;
  padding-bottom: 48px;
}

.header__container {
  display: flex;
  justify-content: center;
}


/* HERO */
.hero {
  padding-top: 6px;
  padding-bottom: 64px;
  text-align: center;
}

.hero__img {
  width: 100%;
  margin-bottom: 48px;
}

.hero__info {
  max-width: 28.5625rem;
  margin-left: auto;
  margin-right: auto;
}

.hero__heading {
  margin-bottom: 24px;
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 110%;
  color: var(--color-text-dark);
}

.hero__text {
  margin-bottom: 32px;
}

.hero__actions {
  display: grid;
  justify-items: center;
  gap: 16px;
}


/* SECTION INDEX */
.section-index {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-index::before {
  width: 1px;
  height: 84px;
  background-color: var(--color-text-light);
  content: "";
  opacity: 0.25;
}

.section-index__circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  border: 1px solid rgba(135, 135, 157, 0.25);
  border-radius: 50%;
  font-weight: 900;
  background-color: var(--color-bg-body);
  color: var(--color-text-light);
}


/* GALLERY */
.gallery__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 24px;
  padding: 0;
}

.gallery__img {
  width: 100%;
  border-radius: 8px;
}


/* INDEX-INFO */
.index-info {
  padding-top: 64px;
  padding-bottom: 64px;
  margin-bottom: 95px;
  text-align: center;
}

.index-info__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.index-info__heading {
  max-width: 27.8125rem;
  margin-bottom: 32px;
  font-size: 2rem;
  font-weight: 900;
  line-height: 112.5%;
  color: var(--color-text-dark);
}

.index-info__lead {
  order: -1;
  max-width: 36rem;
  margin-bottom: 24px;
  font-weight: 900;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  color: var(--color-primary);
}

.index-info__copy {
  max-width: 36rem;
}

.index-info__gallery {
  order: -2;
  margin-bottom: 64px;
}


/* CTA */
.cta {
  position: relative;
  z-index: 1;
  padding-top: 92px;
  padding-bottom: 72px;
  background-color: var(--color-primary);
  background-image: url("../img/cta-bg-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  color: var(--color-bg-body);
}

.cta__section-index {
  position: absolute;
  z-index: 1;
  bottom: calc(100% - 28px);
  left: 50%;
  transform: translateX(-50%);
}

.cta__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.cta__heading {
  margin-bottom: 24px;
  font-size: 2rem;
  font-weight: 900;
  line-height: 112.5%;
}

.cta__text {
  margin-bottom: 32px;
  font-size: 1.125rem;
}


@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
  .cta {
    background-image: url("../img/cta-bg-mobile@2x.jpg");
  }
}

/* 640px */
@media only screen and (min-width: 40em) {
  .hero {
    padding-top: 16px;
    padding-bottom: 80px;
  }

  .hero__img {
    margin-bottom: 72px;
  }

  .hero__heading {
    font-size: 3rem;
    line-height: 1;
  }

  .hero__actions {
    grid-template-columns: auto auto;
    justify-content: center;
  }

  .cta {
    padding-bottom: 64px;
    background-image: url("../img/cta-bg-tablet.jpg");
  }

  .cta__heading {
    max-width: 28.625rem;
    margin-bottom: 32px;
    font-size: 2.5rem;
    line-height: 1.1;
  }

  .cta__text {
    max-width: 36rem;
    margin-bottom: 40px;
  }

  @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (   min--moz-device-pixel-ratio: 2),
    only screen and (     -o-min-device-pixel-ratio: 2/1),
    only screen and (        min-device-pixel-ratio: 2),
    only screen and (                min-resolution: 192dpi),
    only screen and (                min-resolution: 2dppx) {
    .cta {
      background-image: url("../img/cta-bg-tablet@2x.jpg");
    }
  }
}

/* 768px */
@media only screen and (min-width: 48em) {
  .index-info {
    padding-bottom: 80px;
  }

  .index-info__gallery {
    align-self: stretch;
    margin-bottom: 48px;
  }

  .index-info__heading {
    font-size: 2.5rem;
    line-height: 1.1;
  }

  .index-info__lead {
    margin-bottom: 16px;
  }

  .gallery__list {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 12px;
  }
}

/* 900px */
@media only screen and (min-width: 56.25em) {
  body {
    font-size: 1.125rem;
  }

  .header {
    padding-top: 80px;
    padding-bottom: 60px;
  }

  .hero {
    padding-top: 48px;
    padding-bottom: 118px;
    background-image: url("../img/hero-bg-desktop.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 1504px 358px;
  }

  @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (   min--moz-device-pixel-ratio: 2),
    only screen and (     -o-min-device-pixel-ratio: 2/1),
    only screen and (        min-device-pixel-ratio: 2),
    only screen and (                min-resolution: 192dpi),
    only screen and (                min-resolution: 2dppx) {
    .hero {
      background-image: url("../img/hero-bg-desktop@2x.png");
    }
  }

  .hero__picture, .hero__img {
    display: none;
  }

  .hero__heading {
    margin-bottom: 34px;
    font-size: 4rem;
  }

  .gallery__list {
    gap: 30px;
  }

  .index-info {
    padding-bottom: 72px;
  }

  .index-info__copy {
    max-width: 33.75rem;
  }

  .index-info__gallery {
    margin-bottom: 80px;
  }

  .cta {
    background-image: url("../img/cta-bg-desktop.jpg");
  }

  @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (   min--moz-device-pixel-ratio: 2),
    only screen and (     -o-min-device-pixel-ratio: 2/1),
    only screen and (        min-device-pixel-ratio: 2),
    only screen and (                min-resolution: 192dpi),
    only screen and (                min-resolution: 2dppx) {
    .cta {
      background-image: url("../img/cta-bg-desktop@2x.jpg");
    }
  }
}

/* 1148px */
@media only screen and (min-width: 71.75em) {
  .cta {
    padding-top: 116px;
    padding-bottom: 104px;
  }

  .cta__container {
    flex-direction: row;
    text-align: left;
  }

  .cta__heading {
    max-width: 21.875rem;
    margin-bottom: 0;
    margin-right: 124px;
  }

  .cta__text {
    max-width: 21.875rem;
    margin-bottom: 0;
    margin-right: 92px;
  }
}
